.snipp-panel-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.snipp-panel-inp-label-grp {
	flex-direction: column;
}

.snipp-panel-inp-label-grp > label {
	margin-bottom: 5px;
}

.snipp-panel-inp-label-grp > input,
.snipp-panel-inp-label-grp > select {
	margin-bottom: 10px;
}

.snipp-service {
	border-bottom: 1px solid #d4d2d2;
	margin-bottom: 20px;
}

.snipp-panel-button-container > button {
	margin-left: auto !important;
}