.snipp-panel-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.snipp-inp-group {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.snipp-inp-group > label {
	margin-bottom: 5px;
	font-weight: 600;
}

.snipp-inp-group > textarea {
	height: 100px;
}

.snipp-single-service-title {
	margin-bottom: 10px;
	display: block;
}

.snipp-services-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.snipp-single-service {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-right: 15px;
}

.snipp-single-service:last-of-type {
	margin-right: 0;
}

.snipp-section-options {
	margin-bottom: 20px;
}